[submodule "domain-1"]
	path = domain-1
	url = https://github.com/khuong2924/smartorder-domain1
[submodule "domain-2"]
	path = domain-2
	url = https://github.com/khuong2924/smartorder-domain2
[submodule "kitchen-domain"]
	path = kitchen-domain
	url = https://github.com/khuong2924/kitchen-domain
[submodule "smart-order-fe"]
	path = smart-order-fe
	url = https://github.com/khuong2924/SmartOrder-fe


